# placer ici les élements à ignorer par git avec chemin en absolu pa rapport à la positiondu fichier .gitignore du projet
# tmp/todo.txt
tmp/*
# tmp/* >>> tous les fichiers du dossier tmp
# *.txt >>> tous les .txt 